/* stylesheet
 * User hand image data.
 */

.arrow {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 16 16' width='100' xmlns='http://www.w3.org/2000/svg'><path d='M12,8l-4,-1l0,2Z' stroke='none' fill='silver'/></svg>");
    width: 100; height: 100;
}
@keyframes arrow_selecting {
    0% { transform: scale(0); }
    100% { transform: scale(0); }
}
.arrow.selecting {
    transform-origin: 50% 50%;
    animation: arrow_selecting 0.2s forwards;
}
@keyframes arrow_holding {
    0% { transform: scale(0); }
    100% { transform: scale(0); }
}
.arrow.holding {
    transform-origin: 50% 50%;
    animation: arrow_holding 0.2s forwards;
}
@keyframes arrow_swiping {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}
.arrow.swiping {
    transform-origin: 50% 50%;
    animation: arrow_swiping 0.2s forwards;
}
@keyframes arrow_decided {
    0% { transform: scale(0); }
    100% { transform: scale(0); opacity:0; }
}
.arrow.decided {
    transform-origin: 50% 50%;
    animation: arrow_decided 0.2s forwards;
}
@keyframes arrow_released {
    0% { transform: scale(0); }
    100% { transform: scale(0); opacity:0; }
}
.arrow.released {
    transform-origin: 50% 50%;
    animation: arrow_released 0.2s forwards;
}

.point {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 16 16' width='100' xmlns='http://www.w3.org/2000/svg'><circle cx='8' cy='8' r='4' stroke='silver' fill='none'/></svg>");
    width: 100; height: 100;
}
@keyframes point_selecting {
    0% { transform: scale(0.8); opacity:0; }
    100% { transform: scale(1.0); }
}
.point.selecting {
    transform-origin: 50% 50%;
    animation: point_selecting 0.2s forwards;
}
@keyframes point_holding {
    0% { transform: scale(1); }
    100% { transform: scale(0.9); }
}
.point.holding {
    transform-origin: 50% 50%;
    animation: point_holding 0.2s forwards;
}
@keyframes point_swiping {
    0% { transform: scale(0.9); }
    100% { transform: scale(0.8); }
}
.point.swiping {
    transform-origin: 50% 50%;
    animation: point_swiping 0.2s forwards;
}
@keyframes point_decided {
    100% { transform: scale(1.5); opacity:0; }
}
.point.decided {
    transform-origin: 50% 50%;
    animation: point_decided 0.2s forwards;
}
@keyframes point_released {
    0% { transform: scale(0.8); }
    100% { transform: scale(0.6); opacity:0; }
}
.point.released {
    transform-origin: 50% 50%;
    animation: point_released 0.2s forwards;
}
